@font-face {
    font-family: "Geometria Light";
    src: url("./fonts/geometria_light.woff2") format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "Geometria Medium";
    src: url("./fonts/geometria_medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "Geometria Bold";
    src: url("./fonts/geometria_bold.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: "Klamp";
    src: url("./fonts/klamp.woff2") format("woff2");
    font-weight: normal;
}

:root {
    --main-color: #121B2E;
    --text-color: #E1E2E6;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
}

.header {
    font-family: "Geometria Medium";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    cursor: pointer;
}

.header__theme-switcher {
    font-family: "Klamp";
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    position: relative;
    transition: transform .4s;
    cursor: pointer;
}

.header__theme-switcher::after {
    content: "";
    background-image: url("./icons/sun.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -25px;
    top: -3px;
    width: 16px;
    height: 16px;
}

.header__theme-switcher:hover {
    transform: scale(1.1);
}
