@font-face {
    font-family: "Geometria Light";
    src: url("./fonts/geometria_light.woff2") format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "Geometria Medium";
    src: url("./fonts/geometria_medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "Geometria Bold";
    src: url("./fonts/geometria_bold.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: "Klamp";
    src: url("./fonts/klamp.woff2") format("woff2");
    font-weight: normal;
}

:root {
    --main-color: #121B2E;
    --text-color: #E1E2E6;
    --button-color: #E1E2E6; 
    --button-color-click: #0360ca;
    --button-text-color-click: #b6b7ba;
    --accent-color: #0278FE;
    --card-color: #1E2947;
    --bio-color: #8E94A2;
    
    --border-radius: 10px;

    --small-text: 11px;
}

.white-color-theme {
    --main-color: #F4F8FF;
    --card-color: #FFFEFE;
    --text-color: #496A9B;
    --button-color: #FFFEFE;
    --button-color-click: #94c0f2;
    --button-text-color-click: #373839;

} 

* {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    font-family: "Geometria Medium";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.header__text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo {
    cursor: pointer;
}

.header__theme-switcher {
    font-family: "Klamp";
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    transition: transform .4s;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__icon {
    width: 16px;
    height: 16px;
}

.header__theme-switcher:hover {
    transform: scale(1.1);
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--card-color);
    border-radius: var(--border-radius);
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.search__icon {
    width: 30px;
    height: 30px;
}

.search__input {
    background-color: transparent;
    border: none;
    font-family: "Klamp";
    flex-grow: 1;
    color: var(--text-color);
}

.search__input:focus {
    outline: none;
}

.search__input::placeholder {
    color: var(--text-color);
    opacity: .7;
}

.search__button {
    background-color: var(--accent-color);
    border: none;
    padding: 10px;
    color: var(--button-color);
    font-family: "Klamp";
    border-radius: var(--border-radius);
    font-size: 12px;
}

.search__button:hover {
    background-color: var(--button-color-click);
    color: var(--button-text-color-click);
    cursor: pointer;
}

.card {
    padding: 30px;
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    font-family: "Klamp";
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card__avatar {
    width: auto;
    height: 80px;
    border-radius: 50%;
}
.card__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 110px;
    margin: -50px 0 0 0;
}

.card__header {
    display: flex;
    align-items: start;
    gap: 30px;
    position: relative;
}

.card__name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card__main-name {
    font-size: 18px;
}

.card__joined {
    font-size: var(--small-text);
    position: absolute;
    right: 0;
}

.card__username {
    font-size: var(--small-text);
    color: var(--accent-color);
}

.card__bio {
    line-height: 2;
    font-size: var(--small-text);
    color: var(--text-color);
}

.card__activity {
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    padding: 15px 20px;
    display: flex;
    gap: 70px;
}

.card__activity-name {
    font-size: 9px;
}

.card__repos,
.card__followers,
.card__following {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.card__contacts {
    display: flex;
    gap: 50px;
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card__link:hover  {
    color: var(--bio-color);
}

.card__link {
    font-size: var(--small-text);
    display: flex;
    align-items: center;
    gap: 10px;
}

.card__icon {
    width: 14px;
}

.card__svg-icon {
    width: 14px;
}

.box-shadow {
    box-shadow: 2px 4px 20px 5px rgb(142, 148, 162, .2);
}

@media (max-width: 1024px) {
    .container {
        max-width: 425px;
    }

    .card__main {
        margin: 0;
        padding: 0;
    }

    .card__name {
        padding-top: 10px;
    }

    .card__joined {
        bottom: 10px;
        left: 110px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 320px;
    }

    .header__logo {
        font-size: 24px;
    }

    .header__theme-switcher {
        font-size: 12px;
    }

    .wrapper {
        gap: 2px;
    }

    .search__input {
        font-size: 12px;
    }

    .card {
        padding: 35px 25px;
    }

    .card__activity {
        gap: 40px;
        justify-content: space-between;
        padding-inline: 40px;
        text-align: center;
    }

    .card__repos,
    .card__followers,
    .card__following {
        gap: 7px;
    }

    .card__avatar {
        height: 60px;
    }

    .card__joined {
        bottom: 5px;
        left: 90px;
    }

    .card__main {
        gap: 24px;
    }

    .card__bio {
        
        font-size: 12px;
    }

    .card__contacts {
        flex-direction: column;
        gap: 15px;
    }

    .card__name {
        padding-top: 0;
        gap: 3px;
    }

    .card__main-name {
        font-size: 16px;
    }

    .card__icon {
        width: 20px;
    }
    .card__svg-icon {
        width: 20px;
    }
    .card__link {
        font-size: 12px;
    }
} 